<div class="text-center">
  <h1 class="mt-5 mb-4">Log in</h1>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <div class="d-flex flex-column">
      <p class="mb-1"><%= f.label :email%></p>
      <p><%= f.email_field :email, class:"w-50" %></p>
    
      <p class="mb-1"><%= f.label :password%></p>
      <P><%= f.password_field :password, class:"w-50" %></P>
    </div>
      <%= f.submit "Log in", class:"btn btn-primary mt-3" %>
  <% end %>
</div>