<h1 class="mt-5 mb-5">ユーザー登録</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>

  <p class="mb-1"><%= f.label :name %></p>
  <p><%= f.text_field :name, class:"w-75" %></p>

  <p class="mb-1"><%= f.label :email %></p>
  <P><%= f.email_field :email, class:"w-75" %></P>

  <p class="mb-1"><%= f.label :password %></p>
  <p class="mb-1"><%= f.password_field :password, class:"w-75" %></p>

  <p class="mb-1"><%= f.label :password_confirmation %></p>
  <p class="mb-5"><%= f.password_field :password_confirmation, class:"w-75" %></p>

  <%= f.submit "登録する", class:"btn btn-primary" %>
<% end %>