<%= form_with(model: picture, local: true, url: choose_new_or_edit ) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-5">
    <p class="mb-1"><%= form.label :画像： %></p>
    <%= image_tag(picture.image.url) if picture.image && picture.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field mb-4">
    <p class="mb-1"><%= form.label :コメント： %></p>
    <%= form.text_area :content, class:"w-100" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit "投稿する", class:"btn btn-primary mb-4" %>
  </div>
<% end %>
